/* 1. Base */

html {
  background-color: #1d232c;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x hidden;
  text-shadow: 0 5px 5px #1a202a;
  <!-- background-image: linear-gradient(to right, #1d232c, #1d232c); -->
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

/* 2. Shared */

.wallpaper,
.picture-shadow,
.picture-image {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .job,
  .button {
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.button,
.social a {
  transform-origin: center;
  transform-duration: 100ms;
}

/* 3. Specific */

.wallpaper {
  background-image: url("../images/peninsulaghedgetrimminghomebackground.png");
  background-position: center;
  background-size: cover;
  position: fixed;
  opacity: 1;
}

.content {
  display: flex;
  position: relative;
  min-height: 100vh;
  }

.side {
    max-height: 15rem;
    max-width: 20rem;
    }

.about {
    max-width: 20rem;
    }

.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

/*.picture-shadow {
  border-radius: 200px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 10%
}
*/
.picture-image {
  position: absolute;
}

.name {
  color: #9b8b35;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.job {
  color: #9b8b35;
  font-size: 1.4rem;
}

.hr {
  background-color: #999;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 20rem;
}

.description {
  font-size: 1.35rem;
}

.contact {
  display: inline-block;
  margin-top: 0.25rem;
  vertical-align: top;
}

.button {
  background-color: #9b8b35;
  border-radius: 250px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0);
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0);
  transform: scale(1.02) translateY(-4px);
}

.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0);
  transform: scale(0.98) translateY(-2px);
}

/*.social {
  display flex;
  margin-top: 1.5rem;
}

.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items; center;
  display: flex;
  font-size: 1.75rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}

.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}

.social a:active {
  opacity: 1;
  transform: scale(1.1);
}
*/


/* 4. Responsiveness */

@media screen and (max-width: 799px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
  }

  .side {
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .content {
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
  }

  .side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 1rem;
    order: 2;
    width: 20rem;
  }

  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
